:root {
   --bar-color: #4b0082; /* Indigo color for the navigation bar */
}

body, html {
   margin: 0;
   padding: 0;
   font-family: "Space Grotesk", Arial, sans-serif;
}

/* NAV AND BOTTOM TAB SELECTORS */
.main-nav {
   padding: 15px 0;
   position: relative;
   width: 100%;
   height: 60px;
   align-items: center;
   justify-content: space-between;
   display: flex;
   align-items: center;
   z-index: 2;
}

.main-nav .brand {
   margin-left: 20px;
   font-size: 1.5em;
   color: white;
   font-weight: bold;
}

.main-nav a {
   color: white;
   text-decoration: none;
   margin-right: 20px;
   transition: color 0.2s;
}


.container {
   display: flex;
   height: 100% ; /* Full height of the viewport */
   flex-direction: row; /* Align children horizontally */
}

#contact-cards {
   flex-grow: 1; /* Takes up remaining space */
   overflow-y: auto; /* Enables vertical scrolling */
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 40px; /* 20px above and below each card */
   align-content: flex-start;
   z-index: 2;
}


.contact-card {
   display: flex;
   align-items: center;
   width: 350px;
   height: 250px;
   border-radius: 10px;
   background-color: rgba(217, 207, 222, 0.46);
}


.contact-image {
   width: 200px; /* Fixed width for the image */
   object-fit: cover; /* Ensures the image covers the area without distorting */
}

.contact-info {
   flex-grow: 1; /* Takes the remaining space in the container */
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#add-new-contact {
   height: 450px; /* Fixed height of the form */
   width: 270px; /* Fixed width */
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 10px;
   padding: 0px 10px;
   justify-content: center;
   box-shadow: -1px 0 5px rgba(0,0,0,0.1);
   position: absolute;

}

#add-new-contact h3 {
   margin: 10px 0px;
}

.contact-info  h3 {
   margin: 10px;
}

.planet-wrap {
   background-image: url('../../assets/images/planet.png'); /* Path to your planet image */
   background-size: cover;
   display: flex;
   min-width: 550px;
   justify-content: center; 
   align-items: center;
   width: 550px;
   height: 550px;
   margin-top: 30px;
   z-index: 2;
}

input {
   width: 100%;
   box-sizing: border-box; /* Includes padding and border in the element's width and height */
}

.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000000 url('../../assets/images/stars.png') repeat top center;
}

.twinkling {
	z-index: 0;
	background:transparent url('../../assets/images/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 0;
    background:transparent url('../../assets/images/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
